* {
    margin: 0;
    padding: 0;

}

header {
    border: 1px solid black;   
}

.navbar {
    
    width: 100%;
    background-color: rgb(0, 0, 0);
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    justify-content: space-between;
    align-items: center;
    position: fixed;
}

.logo {
    padding: 5px;
}


.menu {
    padding: 20px 0px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.link {
    text-decoration: none;
    color: #ffffff;
}

.home {
    padding: 0px 10px 0px 0px;
}

.our {
    padding: 0px 10px 0px 0px;
}

.port {
    padding: 0px 10px 0px 0px;
}

.message {
    padding: 0px 10px 0px 0px;
}

table tr a:hover {
    color: #32428c;
    cursor: pointer;
}

.parent {
   background-image: url(../asssets/fguf.png);
    padding: 0px 0px 228px 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: left;
}

.kelompok {
    margin: 100px 0px 0px 0px;
    display: flex;
    flex-wrap: wrap;
  background-image: url(../asssets/BGRND\ MESSAGES.png);
  background-image: center;
  background-size: cover;
    padding: 20px 0px 20px 20px;
    border-radius: 10%;
    box-shadow: 0px 0px 20px 0px rgb(255, 255, 255);
}


.atas-bulet {
    
}

.bulet {
    background-image: url(../asssets/irul.jpeg);
   
    background-size: cover;
    background-color: bisque;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-right: 20px;
}

.text-profile {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border-radius: 10%;
    background-color: rgb(39, 65, 159);
    height: 60px;
    color: #ffffff;
    margin-top: 20px;
    margin-right: 15px;
    padding: 20px 20px 40px 20px ;
    box-shadow: 2px 2px 2px 2px rgb(255, 255, 255);
}


@media screen and (max-width : 382px ) {
    .navbar {
        display: flex;
        flex-wrap: wrap;
        gap: 0px;
        justify-content: center;
    }

    .revo {
        width: 50px;
        height: 50px;
    }
}

@media screen and (max-width : 446px ) {

    .logo-hero {
        width: 300px;
        height: 350px;
    }
    .coba {
        font-size: 15px;
    }
}

@media screen and (max-width : 372px ) {

   .menu {
   
    padding: 0px 0px 7px 0px;
   }
}

@media screen and (max-width : 809px ) {

    .logo-hero {
     
     padding: 70px 0px 0px 0px;
    }
}

@media screen and (max-width : 510px ) {

    .kelompok {
        width: 200px;
        padding: 30px 30px 30px 40px;
    }
}